{% extends "admin/base.html.twig" %}
{% block content %}
<h1> LISTE Users </h1>
<a href="{{ path('app_admin_user_create') }}"> Nouvel user </a>

{% for user in users %}
<p> {{user.lastName}} {{user.firstName}} </p>
{% endfor %}
{% endblock %}