{% extends 'front/base.html.twig' %}

{% block sub_title %}Inscription{% endblock %}
{% block navbar %} {% include "front/_navbar.html.twig" %}{% endblock %}
{% block content %}
{{ form(formView) }}
<a href="{{ path('app_login') }}">Déjà un compte ? Connectez-vous !</a>
{% endblock %}