{% extends "front/base.html.twig" %}
{% block sub_title %}Validée{% endblock %}

{% block content %}
<h1> VOTRE COMMANDE A ÉTÉ VALIDÉE</h1>
    <h2> </h2>
    <h3> <a href="{{path('app_front_home_home')}}"> retour à l'acceuil</a></h3>
{% endblock %}