{% extends "base.html.twig" %}

{% block title %}
	Admin PizzaShop -
	{% block sub_title %}{% endblock %}
{% endblock %}


{% block content %}

<a href="{{ path('app_admin_ingredient_retrieve') }}"> liste Ingredient </a> <br>
<a href="{{ path('app_admin_pizza_retrieve') }}"> liste Pizza</a>


{% endblock %}